{# KlikaBundle/Resources/views/blog/index.html.twig #}
{% extends 'KlikaBundle::base.html.twig' %}

{% block stylesheets %}

    {% stylesheets 
        'bundles/alidatatable/third-party/bootstrap/css/bootstrap.min.css'
        'bundles/alidatatable/css/dataTables.bootstrap.min.css'
        filter='cssrewrite' 
    %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {% javascripts
        'bundles/alidatatable/js/jquery.min.js'
        'bundles/alidatatable/js/jquery.dataTables.min.js'
        'bundles/alidatatable/js/dataTables.bootstrap.min.js'
    %}
    <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            {{ datatable({ 
                    'edit_route' : 'KLIKA_EDIT',
                    'delete_route' : 'KLIKA_DElETE',
                    'all': {
                        'action' : 'false'
                    },
                    'js' : {
                        'sAjaxSource' : path('KLIKA_LIST')     
                    }
                })
            }}
        </div>
    </div>
{% endblock %}